/* Top controlls */

#controls {
    padding-left: 14px;
    padding-right: 14px;
}

/*Tables*/

.table-responsive {
    overflow-x: auto;
}

table .mat-header-cell {
    font-size: 14px;
    font-weight: bold;
}

table .mat-cell {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    padding-right: 10px;
}

table .mat-cell a {
    text-decoration: none;
    color: #069;
}

table .mat-column-actions {
    min-width: 100px;
    width: 100px;
    padding-right: 24px;
    text-align: right;
}

/* Bottons */

.button-row button:not(:last-child) {
    margin-right: 5px;
}